/* Recommended practice */
* {box-sizing: border-box;}

/* General Styling */
.wrapper {
  width: 100%;
  margin: auto;
}

p, h1, h2, h3, ol, ul {
  font-family: cursive;
}

header {
  background-color: cadetblue;
  padding: 10px;
  text-align: center;
}

main {
  background-color: cornsilk;
}

footer {
  background-color: cadetblue;
  padding: 10px;
}

img {
  width: 100%;
}

/* Create contrasts */
#portfolio {
  background-color: cadetblue;
}

#portfolio h2 {
  text-align: center;
  border-bottom: 0px;
  border-style: solid;
  margin: 0px;
}

#portfolio .group {
  margin: 0px 0px 20px 0px;
  border-style: solid;
}

#portfolio .group .item {
  border-style: solid;
}

/* Mobile layout */
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.item {
  flex: 1;
  align-self: center;
  margin: 10px;
  padding: 10px;
}

/* Desktop - allow rows and make about me list spaced better */
@media all and (min-width: 800px) {

  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }

  .padded-list {
    padding-left: 10%;
  }
}